# Compiled source
*.pyc

# vim temp files
.*.swp

# backup folder
bak/




dockerimage/
topcons2_webserver/database
topcons2_webserver/predictors/Philius/runPhilius.sh.old
topcons2_webserver/predictors/make_modhmm/
topcons2_webserver/predictors/pdb_homology/3d_homology.tar.gz
topcons2_webserver/predictors/pdb_homology/test/
topcons2_webserver/predictors/source/cmdline/
topcons2_webserver/predictors/spoctopus/LICENSE
topcons2_webserver/predictors/spoctopus/README.md
topcons2_webserver/src/
topcons2_webserver/test/bad1.fa
topcons2_webserver/test/logs/
topcons2_webserver/test/out2/
topcons2_webserver/test/out_bad1/
topcons2_webserver/test/rst1/
topcons2_webserver/test/rst_topcons2/
topcons2_webserver/workflow/ChangeLog.txt
topcons2_webserver/workflow/README.md
topcons2_webserver/workflow/batch_run.txt
topcons2_webserver/workflow/error.log
topcons2_webserver/workflow/formatdb.log
topcons2_webserver/workflow/median.py
topcons2_webserver/workflow/oldtopcons/
topcons2_webserver/workflow/test/log1.txt
topcons2_webserver/workflow/test/log2.err
topcons2_webserver/workflow/test/out1/
topcons2_webserver/workflow/test/out2/
topcons2_webserver/workflow/test/out3/
topcons2_webserver/workflow/tmp/

